{% extends 'api/base.html' %}
{% load static %}
{% block title%}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content%}
<section>
   <img src="{% static 'images/back-chat.png' %}" id="bc" alt="background">
<div class="form-container">
  <form method="post">
    {% csrf_token %}
    {{form|crispy}}
     <p><a href="/register">Don't have an account? Create one here</a> </p>
    <button type="submit" class="btn btn-success">Login</button>

  </form>
</div>

</section>
{% endblock %}